openapi: 3.1.0
info:
  title: Birdeye Aggregation FAQ API
  description: RESTful API for managing online reviews, sending survey requests, responding to customer messages, automating review collection workflows, and tracking reputation metrics across multiple business locations.
  version: 1.0.0
  termsOfService: https://birdeye.com/terms-of-service/
  contact:
    url: https://developers.birdeye.com/
servers:
- url: https://api.birdeye.com
  description: Production
security:
- apiKey: []
tags:
- name: FAQ
  description: To retrieve all Question and Answer (QnA) entries across locations using FAQ APIs, enabling smart support and knowledge features for businesses.
paths:
  /v1/quero/external/get-all-qna:
    post:
      summary: Get All QnA
      operationId: get-all-qna
      tags:
      - FAQ
      parameters:
      - name: sIndex
        in: query
        required: false
        description: The starting index for the records to fetch. Default is 0 if not specified.
        schema:
          type: number
        example: '0'
      - name: count
        in: query
        required: false
        description: The number of QnA records to return.Default is 25 if not specified.
        schema:
          type: number
        example: '25'
      - name: order
        in: query
        required: false
        description: The ordering in which records should be returned by last updated date (0 for ascending, 1 for descending).Default is 1 if not specified.
        schema:
          type: number
        example: '1'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1532
                  message: Business id is missing or invalid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                businessNumbers:
                  type: array
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
