openapi: 3.2.0
info:
  title: Birdeye Insight AI API
  version: '1.0'
  description: 'Operations tagged Insight AI across 2 of this provider''s published API definitions: birdeye-birdeye-api-openapi.yml, birdeye-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.birdeye.com
  description: Production
- url: https://api.birdeye.com/resources
tags:
- name: Insight AI
  description: Insight intelligence, simplified by AI.
paths:
  /v1/insight/experience/scoreBenchmark:
    post:
      summary: Get Insight Experience Score Benchmark
      operationId: get-insight-experience-score-benchmark
      tags:
      - Insight AI
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 2003
                  message: businessNumbers are mandatory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                reviewSources:
                  type: array
                ratings:
                  type: array
                businessNumbers:
                  type: array
                startDate:
                  type: string
                endDate:
                  type: string
              required:
              - businessNumbers
              - startDate
              - endDate
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/insight/experience/locationInfo:
    post:
      summary: Get Insight Experience Location Info
      operationId: get-insight-experience-location-info
      tags:
      - Insight AI
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 2003
                  message: businessNumbers are mandatory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                reviewSources:
                  type: array
                ratings:
                  type: array
                businessNumbers:
                  type: array
                startDate:
                  type: string
                endDate:
                  type: string
              required:
              - businessNumbers
              - startDate
              - endDate
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/insight/experience/over-time:
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  groupByType:
                    type: string
                  dataPoints:
                    type: array
                    items:
                      type: object
                      properties:
                        startDate:
                          type: string
                        endDate:
                          type: string
                        label:
                          type: string
                        shortLabel:
                          type: string
                        experienceScore:
                          type: number
                        sentiment:
                          type: object
                          properties:
                            score:
                              type:
                              - number
                              - 'null'
                        reputation:
                          type: object
                          properties:
                            score:
                              type:
                              - number
                              - 'null'
                        listing:
                          type: object
                          properties:
                            score:
                              type:
                              - number
                              - 'null'
                        call:
                          type: object
                          properties:
                            score:
                              type:
                              - number
                              - 'null'
              example:
                groupByType: month
                dataPoints:
                - startDate: 04/30/2026
                  endDate: 04/30/2026
                  label: Apr 2026
                  shortLabel: Apr '26
                  experienceScore: 0.0
                  sentiment:
                    score: null
                  reputation:
                    score: 0.0
                  listing:
                    score: 0.0
                  call:
                    score: null
                - startDate: 05/01/2026
                  endDate: 05/31/2026
                  label: May 2026
                  shortLabel: May '26
                  experienceScore: 87.3
                  sentiment:
                    score: null
                  reputation:
                    score: 90.0
                  listing:
                    score: 84.5
                  call:
                    score: null
                - startDate: 06/01/2026
                  endDate: 06/30/2026
                  label: Jun 2026
                  shortLabel: Jun '26
                  experienceScore: 86.7
                  sentiment:
                    score: null
                  reputation:
                    score: 92.5
                  listing:
                    score: 80.9
                  call:
                    score: null
                - startDate: 07/01/2026
                  endDate: 07/31/2026
                  label: Jul 2026
                  shortLabel: Jul '26
                  experienceScore: 84.8
                  sentiment:
                    score: null
                  reputation:
                    score: 88.8
                  listing:
                    score: 80.9
                  call:
                    score: null
                - startDate: 08/01/2026
                  endDate: 08/01/2026
                  label: Aug 2026
                  shortLabel: Aug '26
                  experienceScore: 0.0
                  sentiment:
                    score: null
                  reputation:
                    score: 0.0
                  listing:
                    score: 0.0
                  call:
                    score: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/2150Model'
              examples:
                response:
                  value:
                    code: 2150
                    message: Not a valid reseller/enterprise id.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/1167Model'
              examples:
                response:
                  value:
                    code: 1167
                    message: API key is missing
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/2151Model'
              examples:
                response:
                  value:
                    code: 2151
                    message: Not a valid reseller/enterprise id.
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/1027Model'
              examples:
                response:
                  value:
                    code: 1027
                    message: Invalid business number.
      summary: Get Insight Experience Over Time
      operationId: getInsightExperienceOverTime
      description: The Insight Experience Over Time API provides a time-series view of experience scores at the account level. It aggregates sentiment, reputation, listing, and call scores across configurable time intervals — day, week, month, quarter, or year — enabling trend analysis and performance tracking over custom date ranges.
      tags:
      - Insight AI
      parameters:
      - name: Accept
        in: header
        description: e.g. application/json
        required: false
        example: application/json
        schema:
          type: string
          default: application/json
      - name: x-api-key
        in: header
        description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
        required: false
        example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
        schema:
          type: string
      - name: x-business-number
        in: header
        description: e.g. [Required] User associated businessNumber.
        required: false
        example: '[Required] User associated businessNumber.'
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Media type of the JSON request body.
        required: false
        example: application/json
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                businessNumbers:
                  type: array
                  description: List of business numbers (max 100).
                  items:
                    type: integer
                startDate:
                  type: string
                  description: Start date in MM/DD/YYYY format.
                endDate:
                  type: string
                  description: End date in MM/DD/YYYY format.
                reviewSources:
                  type: array
                  description: Review sources to include (e.g. Google, Facebook).
                  items:
                    type: string
                ratings:
                  type: array
                  description: Rating values to filter (e.g. "1", "2", "3", "4", "5").
                  items:
                    type: string
                hierarchyNodeData:
                  type: array
                  description: List of hierarchy nodes to filter by level.
                  items:
                    type: object
                    properties:
                      levelId:
                        type: string
                        description: The hierarchy level identifier (e.g. Region).
                      levelNames:
                        type: array
                        description: List of level names to filter.
                        items:
                          type: string
                groupBy:
                  type: string
                  description: Time interval to group results by (e.g. day, week, month, quarter, year).
              required:
              - businessNumbers
              - startDate
              - endDate
            example:
              reviewSources:
              - Google
              - Facebook
              - CitySearch
              ratings:
              - '0'
              - '1'
              - '3'
              - '4'
              - '5'
              businessNumbers:
              - 172957184851864
              - 174436684666401
              startDate: 02/25/2025
              endDate: 02/01/2026
              hierarchyNodeData:
              - levelId: Region
                levelNames:
                - Region1
                - Region2
              groupBy: month
    servers:
    - url: https://api.birdeye.com/resources
components:
  schemas:
    2151Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2151
        message: Not a valid reseller/enterprise id.
    1027Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1027
        message: Invalid business number.
    1167Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1167
        message: API key is missing
    2150Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2150
        message: Not a valid reseller/enterprise id.
    2003Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2003
        message: businessNumbers are mandatory
    1011Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1011
        message: Business id is invalid
    Apiary_getInsightExperienceLocationInfo_Response200:
      type: object
      properties:
        totalCount:
          type: number
          description: Total number of locations returned
        dataPoints:
          type: array
          description: Array of location experience metrics
          items:
            type: object
            properties:
              id:
                type: number
                description: Location business number
              name:
                type: string
                description: Location name
              experienceScore:
                type: number
                description: Current experience score
              listingScore:
                type: number
                description: Current listing score
              sentimentScore:
                type: number
                description: Current sentiment score
              reputationScore:
                type: number
                description: Current reputation score
              experienceDeltaScore:
                type: number
                description: Previous period experience score
              listingDeltaScore:
                type: number
                description: Previous period listing score
              sentimentDeltaScore:
                type: number
                description: Previous period sentiment score
              reputationDeltaScore:
                type: number
                description: Previous period reputation score
              experienceDelta:
                type: number
                description: Change in experience score
              listingDelta:
                type: number
                description: Change in listing score
              reputationDelta:
                type: number
                description: Change in reputation score
              sentimentDelta:
                type: number
                description: Change in sentiment score
    1161Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1161
        message: Invalid API key
    89Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 89
        message: Rate limit exceeded
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
x-refined-from:
- birdeye-birdeye-api-openapi.yml
- birdeye-openapi-original.yml
