openapi: 3.2.0
info:
  title: Birdeye FAQ API
  version: '1.0'
  description: 'Operations tagged FAQ across 2 of this provider''s published API definitions: birdeye-birdeye-api-openapi.yml, birdeye-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.birdeye.com
  description: Production
- url: https://api.birdeye.com/resources
tags:
- name: FAQ
  description: To retrieve all Question and Answer (QnA) entries across locations using FAQ APIs, enabling smart support and knowledge features for businesses.
paths:
  /v1/quero/external/get-all-qna:
    post:
      summary: Get All QnA
      operationId: get-all-qna
      tags:
      - FAQ
      parameters:
      - name: sIndex
        in: query
        required: false
        description: The starting index for the records to fetch. Default is 0 if not specified.
        schema:
          type: number
        example: '0'
      - name: count
        in: query
        required: false
        description: The number of QnA records to return.Default is 25 if not specified.
        schema:
          type: number
        example: '25'
      - name: order
        in: query
        required: false
        description: The ordering in which records should be returned by last updated date (0 for ascending, 1 for descending).Default is 1 if not specified.
        schema:
          type: number
        example: '1'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1532
                  message: Business id is missing or invalid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                businessNumbers:
                  type: array
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
components:
  schemas:
    5008Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 5008
        message: RequestBody not found
    1167Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1167
        message: API key is missing
    1532Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1532
        message: Business id is missing or invalid.
    5043Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 5043
        message: Contact not found for the given request
    1161Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1161
        message: Invalid API key
    Apiary_getAllQna_Response200:
      type: object
      properties:
        qnAs:
          type: array
          items:
            type: object
            properties:
              question:
                type: object
                properties:
                  text:
                    type: string
                    description: The text of the question.
                  updatedDate:
                    type: string
                    description: Last update date/time (ISO 8601 or yyyy-MM-dd'T'HH:mm:ss.SSSZ).
                  answers:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                          description: The text of the answer.
                    description: Array of answers to this question.
                description: Details for this QnA's question.
              allLocations:
                type: boolean
                description: Indicates if this QnA applies to all business locations.
              source:
                type: string
                description: Source of the QnA entry, e.g.  "USER", "AI".
              sourceType:
                type: string
                description: Indicates the source type when the QnA is AI-generated, such as "LINK", "FILE", and others.
              sourceValue:
                type: string
                description: Reference value for the source, could be a link, filename, etc.
              businessNumbers:
                type: array
                items: {}
                description: Array of location/business numbers, if specific.
          description: List of QnA objects.
    89Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 89
        message: Rate limit exceeded
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
x-refined-from:
- birdeye-birdeye-api-openapi.yml
- birdeye-openapi-original.yml
