openapi: 3.2.0
info:
  title: Birdeye Conversation API
  version: '1.0'
  description: 'Operations tagged Conversation across 2 of this provider''s published API definitions: birdeye-birdeye-api-openapi.yml, birdeye-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.birdeye.com
  description: Production
- url: https://api.birdeye.com/resources
tags:
- name: Conversation
  description: Connect with customers across a range of digital channels from one unified inbox.
paths:
  /v1/messenger/export:
    post:
      summary: List Conversations
      operationId: list-conversations
      tags:
      - Conversation
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1246
                  message: Customer email or phone number is required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                businessNumber:
                  type: number
                apiKey:
                  type: string
                startDate:
                  type: string
                endDate:
                  type: string
                offset:
                  type: number
                size:
                  type: number
                contact:
                  type: object
                  properties:
                    phone:
                      type: string
                    email:
                      type: string
                excludeCampaignMessages:
                  type: number
              required:
              - businessNumber
              - apiKey
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
components:
  schemas:
    1246Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1246
        message: Customer email or phone number is required.
    1167Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1167
        message: API key is missing
    1011Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1011
        message: Business id is invalid
    Apiary_listConversations_Response200:
      type: object
      properties:
        totalConversations:
          type: number
          description: The number of total conversation objects that can be retrieved through pagination.
        totalMessages:
          type: string
          description: The number of total message objects that can be retrieved through pagination.
        conversations:
          type: array
          description: List of conversations.
          items:
            type: object
            properties:
              id:
                type: string
                description: A unique ID generated by the Birdeye platform that identifies this conversation.
              contact:
                type: object
                properties:
                  id:
                    type: number
                    description: Contact id.
                  name:
                    type: string
                    description: Contact name.
                  firstName:
                    type: string
                    description: Contact first name.
                  lastName:
                    type: string
                    description: Contact last name.
                  phone:
                    type: string
                    description: Phone number of the contact.
                  emailId:
                    type: string
                    description: Email Id of the contact.
                  createdDate:
                    type: string
                    description: Contact creation date.
                  updatedDate:
                    type: string
                    description: Contact updation date.
                  team:
                    type: string
                    description: Team name.
                  locationId:
                    type: string
                    description: Location Id to which contact is attached.
                description: Contact details.
              messages:
                type: array
                items:
                  type: object
                  properties:
                    sentAt:
                      type: number
                      description: Epoc time of the message.
                    id:
                      type: number
                      description: Message id.
                    text:
                      type: string
                      description: Message text.
                    attachments:
                      type: object
                      description: Attachment details.
                    direction:
                      type: string
                      description: Message direction, SEND or RECEIVE.
                    channel:
                      type: string
                      description: 'A unique identifier that is used to send or receive the message.for example: sms, email or Live_chat.'
                description: List of messages.
              conversation_start_date:
                type: string
                description: The date conversation.
              last_message_received_on:
                type: string
                description: The date on which the last message was recieved within the defined date range.
              status:
                type: string
                description: Status of the conversation, OPEN or CLOSE.
              last_used_channel:
                type: string
                description: Last used channel.
              assigned_to:
                type: object
                properties:
                  id:
                    type: number
                    description: Id of the user.
                  name:
                    type: string
                    description: Name of the Assignee.
                  type:
                    type: string
                    description: Type of Assignee.
                  emailId:
                    type: string
                    description: Email id of Assignee.
                description: Assinee details.
        hasMore:
          type: boolean
          description: Indicates if there are more conversations.
    1161Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1161
        message: Invalid API key
    89Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 89
        message: Rate limit exceeded
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
x-refined-from:
- birdeye-birdeye-api-openapi.yml
- birdeye-openapi-original.yml
