openapi: 3.1.0
info:
  title: Birdeye Aggregation Insight AI API
  description: RESTful API for managing online reviews, sending survey requests, responding to customer messages, automating review collection workflows, and tracking reputation metrics across multiple business locations.
  version: 1.0.0
  termsOfService: https://birdeye.com/terms-of-service/
  contact:
    url: https://developers.birdeye.com/
servers:
- url: https://api.birdeye.com
  description: Production
security:
- apiKey: []
tags:
- name: Insight AI
  description: Insight intelligence, simplified by AI.
paths:
  /v1/insight/experience/scoreBenchmark:
    post:
      summary: Get Insight Experience Score Benchmark
      operationId: get-insight-experience-score-benchmark
      tags:
      - Insight AI
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 2003
                  message: businessNumbers are mandatory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                reviewSources:
                  type: array
                ratings:
                  type: array
                businessNumbers:
                  type: array
                startDate:
                  type: string
                endDate:
                  type: string
              required:
              - businessNumbers
              - startDate
              - endDate
  /v1/insight/experience/locationInfo:
    post:
      summary: Get Insight Experience Location Info
      operationId: get-insight-experience-location-info
      tags:
      - Insight AI
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 2003
                  message: businessNumbers are mandatory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                reviewSources:
                  type: array
                ratings:
                  type: array
                businessNumbers:
                  type: array
                startDate:
                  type: string
                endDate:
                  type: string
              required:
              - businessNumbers
              - startDate
              - endDate
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
