openapi: 3.1.0
info:
  title: Birdeye Aggregation Social API
  description: RESTful API for managing online reviews, sending survey requests, responding to customer messages, automating review collection workflows, and tracking reputation metrics across multiple business locations.
  version: 1.0.0
  termsOfService: https://birdeye.com/terms-of-service/
  contact:
    url: https://developers.birdeye.com/
servers:
- url: https://api.birdeye.com
  description: Production
security:
- apiKey: []
tags:
- name: Social
  description: Create and track Social posting for all channels.
paths:
  /v1/social/{accountNumber}/schedule:
    post:
      summary: Schedule Social Post
      operationId: schedule-social-post
      tags:
      - Social
      parameters:
      - name: accountNumber
        in: path
        required: true
        description: Id of the Account.
        schema:
          type: number
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 5557
                  message: Requested Business Ids are empty.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                text:
                  type: string
                socialSite:
                  type: string
                subBusinessNumbers:
                  type: array
                scheduleTimestamp:
                  type: number
                media:
                  type: object
                  properties:
                    type:
                      type: string
                    mediaUrl:
                      type: string
                    Error message:
                      type: string
                additionalMetaData:
                  type: object
                  properties:
                    callToActionType:
                      type: string
                    callToActionUrl:
                      type: string
              required:
              - text
              - socialSite
  /v1/social/post/public/scheduled/edit/{accountNumber}:
    post:
      summary: Edit Scheduled Social Post
      operationId: edit-scheduled-social-post
      tags:
      - Social
      parameters:
      - name: accountNumber
        in: path
        required: true
        description: Id of the Account.
        schema:
          type: number
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 5557
                  message: Requested Business Ids are empty.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                trackingId:
                  type: string
                text:
                  type: string
                socialSite:
                  type: string
                subBusinessNumbers:
                  type: array
                scheduleTimestamp:
                  type: number
                media:
                  type: object
                  properties:
                    type:
                      type: string
                    mediaUrl:
                      type: string
                    Error message:
                      type: string
                additionalMetaData:
                  type: object
                  properties:
                    callToActionType:
                      type: string
                    callToActionUrl:
                      type: string
              required:
              - trackingId
              - text
              - socialSite
              - subBusinessNumbers
  /v1/social/post/public/published/edit/{accountNumber}:
    post:
      summary: Edit Published social Post
      operationId: edit-published-social-post
      tags:
      - Social
      parameters:
      - name: accountNumber
        in: path
        required: true
        description: Id of the Account.
        schema:
          type: number
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 5557
                  message: Requested Business Ids are empty.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                trackingId:
                  type: string
                text:
                  type: string
                socialSite:
                  type: string
                subBusinessNumbers:
                  type: array
              required:
              - trackingId
              - text
              - socialSite
              - subBusinessNumbers
  /v1/social/post/public/delete/{accountNumber}:
    post:
      summary: Delete public social Post
      operationId: delete-public-social-post
      tags:
      - Social
      parameters:
      - name: accountNumber
        in: path
        required: true
        description: Id of the Account.
        schema:
          type: number
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 5557
                  message: Requested Business Ids are empty.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                trackingId:
                  type: string
                subBusinessNumbers:
                  type: array
              required:
              - trackingId
              - subBusinessNumbers
  /v1/social/{accountNumber}/post/track/{trackingId}:
    get:
      summary: Track Social Post
      operationId: track-social-post
      tags:
      - Social
      parameters:
      - name: accountNumber
        in: path
        required: true
        description: Id of the Account.
        schema:
          type: number
        example: '12345678'
      - name: trackingId
        in: path
        required: true
        description: 'The tracking ID to track the status of the post.


          Error message: Tracking Id not present in System'
        schema:
          type: string
        example: abcdefdhs
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1011
                  message: Business id is invalid
  /v1/social/open-url/performance/report:
    post:
      summary: Social Open URL Performance Report
      operationId: social-open-url-performance-report
      tags:
      - Social
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 400
                  message: Invalid media id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                startDate:
                  type: string
                endDate:
                  type: string
                sourceNames:
                  type: array
                businessNumbers:
                  type: array
                comparisonFilter:
                  type: object
                  properties:
                    startDate:
                      type: string
                    endDate:
                      type: string
                page:
                  type: number
                size:
                  type: number
              required:
              - startDate
              - endDate
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
