openapi: 3.2.0
info:
  title: Birdeye Report API
  version: '1.0'
  description: 'Operations tagged Report across 2 of this provider''s published API definitions: birdeye-birdeye-api-openapi.yml, birdeye-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.birdeye.com
  description: Production
- url: https://api.birdeye.com/resources
tags:
- name: Report
  description: Various reporting data points across Birdeye modules like reviews, insights and competitors etc for all your data visualisation
paths:
  /v1/reports/smb:
    get:
      summary: Get Dashboard data
      operationId: get-dashboard-data
      tags:
      - Report
      parameters:
      - name: bid
        in: query
        required: true
        description: Id of the Business.
        schema:
          type: string
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 89
                  message: Rate limit exceeded
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/reports/business/analytics/email:
    get:
      summary: Get Review conversion report
      operationId: get-review-conversion-report
      tags:
      - Report
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the Business.
        schema:
          type: number
        example: '12345678'
      - name: fromDate
        in: query
        required: false
        description: Date from result is expected. Format MM/DD/YYYY.
        schema:
          type: string
        example: 01/13/2021
      - name: toDate
        in: query
        required: false
        description: Date up to result is expected. Format MM/DD/YYYY.
        schema:
          type: string
        example: 01/21/2021
      - name: days
        in: query
        required: false
        description: Use to get results for last some days.
        schema:
          type: number
        example: '120'
      - name: months
        in: query
        required: false
        description: Use to get results for last some months.
        schema:
          type: number
        example: '2'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1039
                  message: Invalid business aggregation id
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/reports/review/analytic/time:
    post:
      summary: Review and rating over time Report
      operationId: review-and-rating-over-time-report
      tags:
      - Report
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the Business.
        schema:
          type: number
        example: '12345678'
      - name: sortby
        in: query
        required: false
        description: Values can be 'count' or 'rating'.
        schema:
          type: string
        example: rating
      - name: sorder
        in: query
        required: false
        description: '''0'' for ascending and ''1'' for descending order.'
        schema:
          type: number
        example: '0'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 89
                  message: Rate limit exceeded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                sourceAliases:
                  type: array
                businessNumbers:
                  type: array
                days:
                  type: number
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/reports/rating/location:
    post:
      summary: Reviews & Rating By Location Report
      operationId: reviews-rating-by-location-report
      tags:
      - Report
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the Business.
        schema:
          type: number
        example: '12345678'
      - name: sortby
        in: query
        required: false
        description: Values can be 'count' or 'rating'.
        schema:
          type: string
        example: rating
      - name: sorder
        in: query
        required: false
        description: '''0'' for ascending and ''1'' for descending order.'
        schema:
          type: number
        example: '0'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 89
                  message: Rate limit exceeded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                sourceAliases:
                  type: array
                businessNumbers:
                  type: array
                months:
                  type: number
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/review/report/count-by-rating/{BusinessId}:
    post:
      summary: Review Count & Rating
      operationId: review-count-rating
      tags:
      - Report
      parameters:
      - name: BusinessId
        in: path
        required: true
        description: Id of the business.
        schema:
          type: string
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                businessNumbers:
                  type: array
                sourceAlias:
                  type: string
                fromDate:
                  type: string
                toDate:
                  type: string
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/review/report/count-by-rating/employee/{BusinessId}:
    post:
      summary: Review Count & Rating By Employee
      operationId: review-count-rating-by-employee
      tags:
      - Report
      parameters:
      - name: BusinessId
        in: path
        required: true
        description: Id of the business.
        schema:
          type: string
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                businessNumbers:
                  type: array
                sourceAlias:
                  type: string
                fromDate:
                  type: string
                toDate:
                  type: string
                employees:
                  type: array
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/keywords/opmetric/location:
    post:
      summary: Insights Category Report by location report
      operationId: insights-category-report-by-location-report
      tags:
      - Report
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the Business.
        schema:
          type: number
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 89
                  message: Rate limit exceeded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                startDate:
                  type: string
                endDate:
                  type: string
                reviewSites:
                  type: array
                businessNumbers:
                  type: array
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v2/competitive/ranking:
    post:
      summary: Competitive Ranking Report
      operationId: competitive-ranking-report
      tags:
      - Report
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the Business.
        schema:
          type: number
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 89
                  message: Rate limit exceeded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                startDate:
                  type: string
                endDate:
                  type: string
                reviewSites:
                  type: array
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/reports/nps/time/elst:
    post:
      summary: NPS Over time Report
      operationId: nps-over-time-report
      tags:
      - Report
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the Business.
        schema:
          type: number
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 89
                  message: Rate limit exceeded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                startDate:
                  type: string
                endDate:
                  type: string
                reviewSites:
                  type: array
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/reports/nps/location/elst:
    post:
      summary: NPS By Location Report
      operationId: nps-by-location-report
      tags:
      - Report
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the Business.
        schema:
          type: number
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 89
                  message: Rate limit exceeded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                startDate:
                  type: string
                endDate:
                  type: string
                reviewSites:
                  type: array
                businessNumbers:
                  type: array
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/reports/count/reviewsite:
    post:
      summary: Review By Source Report
      operationId: review-by-source-report
      tags:
      - Report
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the Business.
        schema:
          type: number
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 89
                  message: Rate limit exceeded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                sourceAliases:
                  type: array
                businessNumbers:
                  type: array
                months:
                  type: number
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/reports/count/visitors:
    post:
      summary: Visitor report
      operationId: visitor-report
      tags:
      - Report
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the Business.
        schema:
          type: number
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 89
                  message: Rate limit exceeded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                sourceAliases:
                  type: array
                businessNumbers:
                  type: array
                months:
                  type: number
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/reports/usage:
    post:
      summary: Usage report
      operationId: usage-report
      tags:
      - Report
      parameters:
      - name: business_id
        in: query
        required: true
        description: Id of the Business.
        schema:
          type: number
        example: '12345678'
      - name: reportType
        in: query
        required: true
        description: The type of Report - Summary or Tabular.
        schema:
          type: string
        example: rating
      - name: sindex
        in: query
        required: true
        description: The starting index of the reviews
        schema:
          type: number
        example: '0'
      - name: count
        in: query
        required: true
        description: The number of reviews to query
        schema:
          type: string
        example: '100'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 89
                  message: Rate limit exceeded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                startDate:
                  type: string
                endDate:
                  type: string
                reviewSites:
                  type: array
                ratings:
                  type: array
                days:
                  type: number
                groupByDays:
                  type: number
                reviewSiteAllFlag:
                  type: boolean
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/review/report/response-rate/time/rate-over-time:
    post:
      summary: Review Response Rate Over Time
      operationId: review-response-rate-over-time
      tags:
      - Report
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                reviewSites:
                  type: array
                ratings:
                  type: array
                businessNumbers:
                  type: array
                startDate:
                  type: string
                endDate:
                  type: string
                comparisonFilter:
                  type: object
                  properties:
                    startDate:
                      type: string
                    endDate:
                      type: string
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/review/report/response-rate/by-location/overview:
    post:
      summary: Review Response Rate By Location Overview
      operationId: review-response-rate-by-location-overview
      tags:
      - Report
      parameters:
      - name: order
        in: query
        required: false
        description: Sort order. 1 for descending, 0 for ascending.
        schema:
          type: number
        example: '1'
      - name: sortBy
        in: query
        required: false
        description: Field used for sorting, for example rate.
        schema:
          type: string
        example: rate
      - name: startIndex
        in: query
        required: false
        description: Starting index for pagination.
        schema:
          type: number
        example: '0'
      - name: size
        in: query
        required: false
        description: Number of records to return.
        schema:
          type: number
        example: '100'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                reviewSites:
                  type: array
                ratings:
                  type: array
                businessNumbers:
                  type: array
                startDate:
                  type: string
                endDate:
                  type: string
                comparisonFilter:
                  type: object
                  properties:
                    startDate:
                      type: string
                    endDate:
                      type: string
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/review/report/avg-response-time/by-location:
    post:
      summary: Average Response Time By Location
      operationId: average-response-time-by-location
      tags:
      - Report
      parameters:
      - name: order
        in: query
        required: false
        description: Sort order. 1 for descending, 0 for ascending.
        schema:
          type: number
        example: '1'
      - name: sortBy
        in: query
        required: true
        description: resp-time (string, optional) - Field used for sorting.
        schema:
          type: string
        example: avg
      - name: startIndex
        in: query
        required: false
        description: Starting index for pagination.
        schema:
          type: number
        example: '0'
      - name: size
        in: query
        required: false
        description: Number of records to return.
        schema:
          type: number
        example: '100'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                reviewSites:
                  type: array
                ratings:
                  type: array
                businessNumbers:
                  type: array
                startDate:
                  type: string
                endDate:
                  type: string
                comparisonFilter:
                  type: object
                  properties:
                    startDate:
                      type: string
                    endDate:
                      type: string
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/review/report/avg-response-time/time:
    post:
      summary: Average Response Time Over Time
      operationId: average-response-time-over-time
      tags:
      - Report
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                reviewSites:
                  type: array
                ratings:
                  type: array
                businessNumbers:
                  type: array
                startDate:
                  type: string
                endDate:
                  type: string
                comparisonFilter:
                  type: object
                  properties:
                    startDate:
                      type: string
                    endDate:
                      type: string
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
components:
  schemas:
    1167Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1167
        message: API key is missing
    1011Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1011
        message: Business id is invalid
    1039Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1039
        message: Invalid business aggregation id
    Apiary_reviewResponseRateOverTime_Response200:
      type: object
      properties:
        summary:
          type: object
          properties:
            actual:
              type: object
              properties:
                totalCount:
                  type: number
                  description: Total number of reviews in selected period.
                avgRating:
                  type: number
                  description: Average rating in selected period.
                responseRate:
                  type: number
                  description: Response rate percentage.
                unrespondedRate:
                  type: number
                  description: Unresponded rate percentage.
                unrespondedCount:
                  type: number
                  description: Count of unresponded reviews.
                respondedCount:
                  type: number
                  description: Count of responded reviews.
                unrespondedCountGrowth:
                  type: number
                  description: Growth percentage against comparison period.
                respondedCountGrowth:
                  type: number
                  description: Growth percentage against comparison period.
                totalCountGrowth:
                  type: number
                  description: Growth percentage against comparison period.
                responseRateGrowth:
                  type: number
                  description: Growth percentage against comparison period.
            compare:
              type: object
              properties:
                totalCount:
                  type: number
                  description: Total number of reviews in comparison period.
                avgRating:
                  type: number
                  description: Average rating in comparison period.
                responseRate:
                  type: number
                  description: Response rate percentage in comparison period.
                unrespondedRate:
                  type: number
                  description: Unresponded rate percentage in comparison period.
                unrespondedCount:
                  type: number
                  description: Count of unresponded reviews in comparison period.
                respondedCount:
                  type: number
                  description: Count of responded reviews in comparison period.
        dataPoints:
          type: array
          description: Time-series points for actual and comparison periods.
          items:
            type: object
            properties:
              actual:
                type: object
                properties:
                  label:
                    type: string
                    items: {}
                    description: Display label for the bucket.
                  shortLabel:
                    type: string
                    description: Short display label.
                  totalCount:
                    type: number
                    description: Total reviews in the bucket.
                  startDate:
                    type: string
                    description: Bucket start date.
                  endDate:
                    type: string
                    description: Bucket end date.
                  responseRate:
                    type: number
                    description: Response rate percentage.
                  unrespondedCount:
                    type: number
                    description: Unresponded review count.
                  respondedCount:
                    type: number
                    description: Responded review count.
                  respondedCountGrowth:
                    type: number
                    description: Growth percentage.
                  totalCountGrowth:
                    type: number
                    description: Growth percentage.
                  responseRateGrowth:
                    type: number
                    description: Growth percentage.
              compare:
                type: object
                properties:
                  label:
                    type: string
                    items: {}
                    description: Comparison label for the bucket.
                  shortLabel:
                    type: string
                    description: Short comparison label.
                  totalCount:
                    type: number
                    description: Comparison total reviews in the bucket.
                  startDate:
                    type: string
                    description: Comparison bucket start date.
                  endDate:
                    type: string
                    description: Comparison bucket end date.
                  responseRate:
                    type: number
                    description: Comparison response rate percentage.
                  unrespondedCount:
                    type: number
                    description: Comparison unresponded review count.
                  respondedCount:
                    type: number
                    description: Comparison responded review count.
        dateDiff:
          type: number
          description: Date range difference.
        groupByType:
          type: string
          description: Grouping unit used in data points.
        dataPresent:
          type: boolean
          description: Indicates whether report data is present.
    Apiary_insightsCategoryReportByLocationReport_Response200:
      type: array
      items:
        type: object
        properties:
          alias:
            type: string
            description: Alias of the location.
          avgScore:
            type: number
            description: Average score of the keywords inside the category.
          grade:
            type: string
            description: Grade of the keywords.
          totalCount:
            type: number
            description: Total count of keyword present.
          metricForLocn:
            type: object
            properties:
              Category_Name:
                type: object
                properties:
                  category:
                    type: string
                    description: Category name.
                  avgScore:
                    type: number
                    description: Average score.
                  count:
                    type: number
                    description: Count.
                  grade:
                    type: string
                    description: Grade.
                  parentCategory:
                    type: string
                    description: Parent category name.
                description: This will be the name of the category like Beverages.
            description: Location wise metric data.
    Apiary_reviewCount_RatingByEmployee_Request:
      type: object
      properties:
        businessNumbers:
          type: array
          description: Business Numbers under enterprise account.
          items: {}
        sourceAlias:
          type: string
          description: Alias of the source.
        fromDate:
          type: string
          description: Review date (start).
        toDate:
          type: string
          description: Review date (end).
        employees:
          type: array
          description: Employee details for which review count will be fetched.
          items:
            type: object
            properties:
              firstName:
                type: string
                description: Employee's first name.
              lastName:
                type: string
                description: Employee's last name.
              phone:
                type: string
                description: Employee's phone number.
      example:
        businessNumbers:
        - 145308764185002
        - 145308769721320
        sourceAlias:
        - google
        - citysearch
        employees:
        - firstName: David
          lastName: Wood
          phone: '4424242424'
        fromDate: 04/01/2013
        toDate: 05/3/2015
    Apiary_getReviewConversionReport_Response200:
      type: object
      properties:
        emailSentInfo:
          type: object
          properties:
            total:
              type: number
              description: Total number of email send.
            emailDetails:
              type: array
              description: Details of email.
              items:
                type: object
                properties:
                  reqType:
                    type: string
                    description: Type of request, Values could be share_request, share_request_reminder,review_request,review_request_reminder.
                  count:
                    type: number
                    description: Number of request send.
          description: Email sent details.
        emailOpenInfo:
          type: object
          properties:
            total:
              type: number
              description: Total number of email opened.
            pc:
              type: number
              description: Total number of email opened on PC.
            mobile:
              type: object
              properties:
                ios:
                  type: number
                  description: IOS
                android:
                  type: number
                  description: Anroid
                other:
                  type: number
                  description: Others
              description: Total number of email opened on Mobile device.
            tablet:
              type: object
              properties:
                ios:
                  type: number
                  description: IOS
                android:
                  type: number
                  description: Anroid
                other:
                  type: number
                  description: Others
              description: Total number of email opened on Tablet device.
          description: Email open details.
        emailClickInfo:
          type: array
          description: Email click details.
          items:
            type: object
            properties:
              total:
                type: number
                description: Total number of email clicked.
              pc:
                type: array
                items:
                  type: object
                  properties:
                    citysearch:
                      type: number
                      description: Email click on citysearch.
                    google:
                      type: number
                      description: Email click on google.
                    birdeye:
                      type: number
                      description: Email click on birdeye.
                    otherSites:
                      type: number
                      description: Email click on otherSites.
                description: Total number of email clicked on PC.
        reviews:
          type: array
          description: Review details
          items:
            type: object
            properties:
              sourceName:
                type: string
                description: Source name
              sourceAlias:
                type: string
                description: Souce alias
              avgRating:
                type: number
                description: Average rating
              reviewCount:
                type: number
                description: Review count
        smsDetail:
          type: object
          properties:
            msgSent:
              type: number
              description: Total number of SMS sent.
            msgClick:
              type: number
              description: Total number of SMS clicked.
            destination:
              type: array
              items:
                type: object
                properties:
                  citysearch:
                    type: number
                    description: Number of click on citysearch.
                  google:
                    type: number
                    description: Number of click on google.
                  birdeye:
                    type: number
                    description: Number of click on birdeye.
                  otherSites:
                    type: number
                    description: Number of click on otherSites.
          description: SMS details.
    Apiary_reviewAndRatingOverTimeReport_Response200:
      type: array
      items:
        type: object
        properties:
          rating:
            type: number
            description: Average Rating for the particular day.
          count:
            type: number
            description: Number of reviews for the particular day.
          milestone:
            type: string
            description: Date.
    1161Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1161
        message: Invalid API key
    Apiary_averageResponseTimeByLocation_Response200:
      type: object
      properties:
        summary:
          type: object
          properties:
            actual:
              type: object
              properties:
                avgResponseTime:
                  type: object
                  properties:
                    days:
                      type: number
                      description: Average response time in days.
                    hours:
                      type: number
                      description: Average response time in hours.
                    minutes:
                      type: number
                      description: Average response time in minutes.
                respondedCount:
                  type: number
                  description: Number of responded reviews.
            compare:
              type: object
              properties:
                avgResponseTime:
                  type: object
                  properties:
                    days:
                      type: number
                      description: Average response time in days for comparison period.
                    hours:
                      type: number
                      description: Average response time in hours for comparison period.
                    minutes:
                      type: number
                      description: Average response time in minutes for comparison period.
                respondedCount:
                  type: number
                  description: Number of responded reviews in comparison period.
        dataPoints:
          type: array
          description: Location-wise average response-time metrics.
          items:
            type: object
            properties:
              actual:
                type: object
                properties:
                  label:
                    type: string
                    description: Location label.
                  avgResponseTime:
                    type: object
                    properties:
                      days:
                        type: number
                        description: Average response time in days for the location.
                      hours:
                        type: number
                        description: Average response time in hours for the location.
                      minutes:
                        type: number
                        description: Average response time in minutes for the location.
                  respondedCount:
                    type: number
                    description: Number of responded reviews for the location.
                  businessNumber:
                    type: number
                    description: Business number of the location.
              compare:
                type: object
                properties:
                  label:
                    type: string
                    description: Comparison location label.
                  avgResponseTime:
                    type: object
                    properties:
                      days:
                        type: number
                        description: Comparison average response time in days.
                      hours:
                        type: number
                        description: Comparison average response time in hours.
                      minutes:
                        type: number
                        description: Comparison average response time in minutes.
                  respondedCount:
                    type: number
                    description: Comparison responded reviews for the location.
                  businessNumber:
                    type: number
                    description: Business number of the location.
        dateDiff:
          type: number
          description: Date range difference.
        groupByType:
          type: string
          description: Grouping unit used in data points.
        dataPresent:
          type: boolean
          description: Indicates whether report data is present.
    Apiary_nPSByLocationReport_Response200:
      type: object
      properties:
        totalCount:
          type: number
          description: Total number of promoters, passives, and detractors.
        avgNpsScore:
          type: number
          description: Average NPS score.
        promoters:
          type: number
          description: Total number of promoters.
        passives:
          type: number
          description: Total number of passives.
        detractors:
          type: number
          description: Total number of detractors.
        dataPoints:
          type: array
          description: Data points.
          items:
            type: object
            properties:
              nodeId:
                type: number
                description: Node Id.
              label:
                type: string
                description: Location Name.
              detractorPercentile:
                type: number
                description: Detractor Percentile.
              passivePercentile:
                type: number
                description: Passive Percentile.
              promoterPercentile:
                type: number
                description: Promoter Percentile.
              npsScore:
                type: number
                description: Average NPS Score.
              positiveCount:
                type: number
                description: Positive Count.
              negativeCount:
                type: number
                description: Negative Count.
              neutralCount:
                type: number
                description: Neutral Count.
              totalCount:
                type: number
                description: Total Count.
              businessNumber:
                type: number
                description: Business number of the location
        groupByType:
          type: string
          description: Grouping by.
        dateDiff:
          type: number
          description: Date difference.
        totalPages:
          type: number
          description: Total number of pages.
        page:
          type: number
          description: Current Page.
        size:
          type: number
          description: Size.
    Apiary_competitiveRankingReport_Response200:
      type: object
      properties:
        positiveCount:
          type: number
          description: Number of positive keywords.
        neutralCount:
          type: number
          description: Number of neutral keywords.
        negativeCount:
          type: number
          description: Number of negative keywords..
        positivePercent:
          type: number
          description: Positive keyword percentage.
        neutralPercent:
          type: number
          description: Neutral keyword percentage.
        negativePercent:
          type: number
          description: Negative keyword percentage.
        name:
          type: string
          description: Enterprise name.
        count:
          type: number
          description: Total Count.
        rating:
          type: number
          description: Average rating.
        competitors:
          type: array
          description: Competitors data.
          items:
            type: object
            properties:
              positiveCount:
                type: number
                description: Number of positive keywords.
              neutralCount:
                type: number
                description: Number of neutral keywords.
              negativeCount:
                type: number
                description: Number of negative keywords..
              positivePercent:
                type: number
                description: Positive keyword percentage.
              neutralPercent:
                type: number
                description: Neutral keyword percentage.
              negativePercent:
                type: number
                description: Negative keyword percentage.
              name:
                type: string
                description: Enterprise name.
              count:
                type: number
                description: Total count.
              rating:
                type: number
                description: Average rating.
    Apiary_averageResponseTimeOverTime_Response200:
      type: object
      properties:
        summary:
          type: object
          properties:
            actual:
              type: object
              properties:
                avgResponseTime:
                  type: object
                  properties:
                    days:
                      type: number
                      description: Average response time in days.
                    hours:
                      type: number
                      description: Average response time in hours.
                    minutes:
                      type: number
                      description: Average response time in minutes.
                respondedCount:
                  type: number
                  description: Number of responded reviews.
            compare:
              type: object
              properties:
                avgResponseTime:
                  type: object
                  properties:
                    days:
                      type: number
                      description: Average response time in days for comparison period.
                    hours:
                      type: number
                      description: Average response time in hours for comparison period.
                    minutes:
                      type: number
                      description: Average response time in minutes for comparison period.
                respondedCount:
                  type: number
                  description: Number of responded reviews in comparison period.
        dataPoints:
          type: array
          description: Time-series data points with comparison period values.
          items:
            type: object
            properties:
              actual:
                type: object
                properties:
                  label:
                    type: string
                    description: Display label for the bucket.
                  shortLabel:
                    type: string
                    description: Short display label.
                  startDate:
                    type: string
                    description: Bucket start date.
                  endDate:
                    type: string
                    description: Bucket end date.
                  avgResponseTime:
                    type: object
                    properties:
                      days:
                        type: number
                        description: Average response time in days.
                      hours:
                        type: number
                        description: Average response time in hours.
                      minutes:
                        type: number
                        description: Average response time in minutes.
                  respondedCount:
                    type: number
                    description: Number of responded reviews in the bucket.
              compare:
                type: object
                properties:
                  label:
                    type: string
                    description: Comparison label for the bucket.
                  shortLabel:
                    type: string
                    description: Short comparison label.
                  startDate:
                    type: string
                    description: Comparison bucket start date.
                  endDate:
                    type: string
                    description: Comparison bucket end date.
                  avgResponseTime:
                    type: object
                    properties:
                      days:
                        type: number
                        description: Comparison average response time in days.
                      hours:
                        type: number
                        description: Comparison average response time in hours.
                      minutes:
                        type: number
                        description: Comparison average response time in minutes.
                  respondedCount:
                    type: number
                    description: Comparison responded reviews in the bucket.
        dateDiff:
          type: number
          description: Date range difference.
        groupByType:
          type: string
          description: Grouping unit used in data points.
        dataPresent:
          type: boolean
          description: Indicates whether report data is present.
    Apiary_reviewCount_RatingByEmployee_Response200:
      type: object
      properties:
        employees:
          type: array
          description: Employee details for which review count will be fetched.
          items:
            type: object
            properties:
              employee:
                type: object
                properties:
                  firstName:
                    type: string
                    description: Employee's first name.
                  lastName:
                    type: string
                    description: Employee's last name.
                  phone:
                    type: string
                    description: Employee's phone number.
              countByRating:
                type: array
                items:
                  type: object
                  properties:
                    rating:
                      type: number
                      description: Review Rating.
                    count:
                      type: number
                      description: Number of reviews according to rating.
                description: Review count against each possible review rating. For Facebook recommended and non-recommended reviews rating will be 0.
              firstName:
                type: string
                description: Employee's first name.
              lastName:
                type: string
                description: Employee's last name.
              phone:
                type: string
                description: Employee's phone number.
    89Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 89
        message: Rate limit exceeded
    Apiary_reviewResponseRateByLocationOverview_Response200:
      type: object
      properties:
        summary:
          type: object
          properties:
            actual:
              type: object
              properties:
                totalCount:
                  type: number
                  description: Total number of reviews.
                responseRate:
                  type: number
                  description: Response rate percentage.
                unrespondedRate:
                  type: number
                  description: Unresponded rate percentage.
                unrespondedCount:
                  type: number
                  description: Count of unresponded reviews.
                respondedCount:
                  type: number
                  description: Count of responded reviews.
            compare:
              type: object
              properties:
                totalCount:
                  type: number
                  description: Total number of reviews in comparison period.
                responseRate:
                  type: number
                  description: Response rate percentage in comparison period.
                unrespondedRate:
                  type: number
                  description: Unresponded rate percentage in comparison period.
                unrespondedCount:
                  type: number
                  description: Count of unresponded reviews in comparison period.
                respondedCount:
                  type: number
                  description: Count of responded reviews in comparison period.
        dataPoints:
          type: array
          description: Location-wise response-rate metrics.
          items:
            type: object
            properties:
              actual:
                type: object
                properties:
                  label:
                    type: string
                    description: Location label.
                  totalCount:
                    type: number
                    description: Total number of reviews for the location.
                  responseRate:
                    type: number
                    description: Response rate percentage for the location.
                  unrespondedRate:
                    type: number
                    description: Unresponded rate percentage for the location.
                  unrespondedCount:
                    type: number
                    description: Count of unresponded reviews for the location.
                  respondedCount:
                    type: number
                    description: Count of responded reviews for the location.
                  businessNumber:
                    type: number
                    description: Business number of the location.
              compare:
                type: object
                properties:
                  label:
                    type: string
                    description: Comparison location label.
                  totalCount:
                    type: number
                    description: Comparison total number of reviews for the location.
                  responseRate:
                    type: number
                    description: Comparison response rate percentage for the location.
                  unrespondedRate:
                    type: number
                    description: Comparison unresponded rate percentage for the location.
                  unrespondedCount:
                    type: number
                    description: Comparison unresponded reviews for the location.
                  respondedCount:
                    type: number
                    description: Comparison responded reviews for the location.
                  businessNumber:
                    type: number
                    description: Business number of the location.
        dataPresent:
          type: boolean
          description: Indicates whether report data is present.
    Apiary_reviewBySourceReport_Response200:
      type: array
      items:
        type: object
        properties:
          count:
            type: number
            description: Number of reviews for the particular location.
          milestone:
            type: string
            description: Name of the Location.
          businessId:
            type: number
            description: Business number of the location.
          reviewSites:
            type: array
            items:
              type: object
              properties:
                sourceAlias:
                  type: string
                  description: Source alias.
                count:
                  type: number
                  description: Number of reviews in sources.
            description: List of source Alias.
    Apiary_reviewCount_Rating_Response200:
      type: object
      properties:
        reviewCount:
          type: number
          description: Total number of reviews.
        countByRating:
          type: array
          description: Review count against each possible review rating. For Facebook recommended and non-recommended reviews rating will be 0.
          items:
            type: object
            properties:
              rating:
                type: number
                description: Review Rating.
              count:
                type: number
                description: Number of reviews according to rating.
    Apiary_nPSOverTimeReport_Response200:
      type: object
      properties:
        totalCount:
          type: number
          description: Total number of promoters, passives, and detractors.
        avgNpsScore:
          type: number
          description: Average NPS score.
        promoters:
          type: number
          description: Total number of promoters.
        passives:
          type: number
          description: Total number of passives.
        detractors:
          type: number
          description: Total number of detractors.
        dataPoints:
          type: array
          description: Data points.
          items:
            type: object
            properties:
              nodeId:
                type: number
                description: Node Id.
              label:
                type: string
                description: Label.
              shortLabel:
                type: string
                description: Short Label.
              startDate:
                type: string
                description: Start date.
              endDate:
                type: string
                description: End date.
              totalCount:
                type: number
                description: Count.
              detractorPercentile:
                type: number
                description: Detractor Percentile.
              passivePercentile:
                type: number
                description: Passive Percentile.
              npsScore:
                type: number
                description: Average NPS Score.
              positiveCount:
                type: number
                description: Positive Count.
              negativeCount:
                type: number
                description: Negative Count.
              neutralCount:
                type: number
                description: Neutral Count.
        groupByType:
          type: string
          description: Grouping by.
        dateDiff:
          type: number
          description: Date difference.
    Apiary_visitorReport_Response200:
      type: array
      items:
        type: object
        properties:
          count:
            type: number
            description: Number of visitor for the particular locations.
          milestone:
            type: string
            description: Name of the Location.
          businessId:
            type: number
            description: Business number of the location.
          visitors:
            type: array
            items:
              type: object
              properties:
                sourceAlias:
                  type: string
                  description: Source alias.
                count:
                  type: number
                  description: Number of visits at source side.
            description: Visitor data.
  requestBodies:
    Review_Response_Rate_Over_TimeBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              reviewSites:
                type: array
                description: List of review site IDs.
                items: {}
              ratings:
                type: array
                description: Ratings to include in the report.
                items: {}
              businessNumbers:
                type: array
                description: List of business numbers.
                items: {}
              startDate:
                type: string
                description: Start date in `MM/dd/YYYY` format.
              endDate:
                type: string
                description: End date in `MM/dd/YYYY` format.
              comparisonFilter:
                type: object
                properties:
                  startDate:
                    type: string
                    description: Comparison start date in `MM/dd/YYYY` format.
                  endDate:
                    type: string
                    description: Comparison end date in `MM/dd/YYYY` format.
                description: Comparison date range.
            example:
              reviewSites:
              - 2
              - 1
              - 110
              - 100
              ratings:
              - '0'
              - '1'
              - '3'
              - '4'
              - '5'
              businessNumbers:
              - 172957184851864
              - 174436684666401
              startDate: 02/25/2025
              endDate: 02/01/2026
              comparisonFilter:
                startDate: 01/01/2025
                endDate: 01/10/2025
    Reviews_Rating_By_Location_ReportBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              sourceAliases:
                type: array
                description: List of source aliases.
                items: {}
              businessNumbers:
                type: array
                description: List of business number.
                items: {}
              months:
                type: number
                description: Use to get results for last some months.
            example:
              sourceAliases:
              - 'citysearch '
              - google
              businessNumbers:
              - '943967608'
              - '943476803'
              months: 12
    Competitive_Ranking_ReportBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              startDate:
                type: string
                description: Start Date format MM/dd/YYYY.
              endDate:
                type: string
                description: End Date format MM/dd/YYYY.
              reviewSites:
                type: array
                description: List of Souce Ids.
                items: {}
            example:
              startDate: 10/08/2019
              endDate: 01/15/2020
              reviewSites:
              - '2'
              - '110'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
x-refined-from:
- birdeye-birdeye-api-openapi.yml
- birdeye-openapi-original.yml
