openapi: 3.1.0
info:
  title: Birdeye Aggregation Conversation API
  description: RESTful API for managing online reviews, sending survey requests, responding to customer messages, automating review collection workflows, and tracking reputation metrics across multiple business locations.
  version: 1.0.0
  termsOfService: https://birdeye.com/terms-of-service/
  contact:
    url: https://developers.birdeye.com/
servers:
- url: https://api.birdeye.com
  description: Production
security:
- apiKey: []
tags:
- name: Conversation
  description: Connect with customers across a range of digital channels from one unified inbox.
paths:
  /v1/messenger/export:
    post:
      summary: List Conversations
      operationId: list-conversations
      tags:
      - Conversation
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1246
                  message: Customer email or phone number is required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                businessNumber:
                  type: number
                apiKey:
                  type: string
                startDate:
                  type: string
                endDate:
                  type: string
                offset:
                  type: number
                size:
                  type: number
                contact:
                  type: object
                  properties:
                    phone:
                      type: string
                    email:
                      type: string
                excludeCampaignMessages:
                  type: number
              required:
              - businessNumber
              - apiKey
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
