openapi: 3.2.0
info:
  title: Birdeye Google Services API
  version: '1.0'
  description: 'Operations tagged Google Services across 2 of this provider''s published API definitions: birdeye-birdeye-api-openapi.yml, birdeye-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.birdeye.com
  description: Production
- url: https://api.birdeye.com/resources
tags:
- name: Google Services
  description: 'Note


    Applicable to be used only by paid listings clients, for their active locations, for the Google Services section, in the Google listing.

    No two services should have the same service name. It is recommended that all services created should  HAVE UNIQUE service names.

    You CAN have the same service across two diff categories e.g.: Emergency counselling as a $100 paid service can be a service created &amp; mapped to category A - Mental health and category B - Psychotherapy - both categories being present for the same location.'
paths:
  /v1/google-services/service/create:
    post:
      summary: Create Service
      operationId: create-service
      tags:
      - Google Services
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the account
        schema:
          type: number
        example: '169744180007807'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 2493
                  message: Duplicate Google Service is not allowed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                name:
                  type: string
                currencyCode:
                  type: string
                price:
                  type: number
                description:
                  type: string
                group:
                  type: string
                duration:
                  type: number
              required:
              - name
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/google-services/services:
    post:
      summary: Get All Services
      operationId: get-all-services
      tags:
      - Google Services
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the account
        schema:
          type: number
        example: '169744180007807'
      - name: startIndex
        in: query
        required: true
        description: start index; default 0
        schema:
          type: number
        example: '0'
      - name: pageSize
        in: query
        required: true
        description: page size; default 25
        schema:
          type: number
        example: '25'
      - name: sortBy
        in: query
        required: true
        description: '&quot;updated&quot;, &quot;name&quot; or &quot;price&quot;; default : updated'
        schema:
          type: string
        example: updated
      - name: sortOrder
        in: query
        required: true
        description: '&quot;asc&quot; or &quot;desc&quot;; default: desc'
        schema:
          type: string
        example: desc
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 2486
                  message: Business Id missing or invalid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                search:
                  type: string
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/google-services/service/update:
    post:
      summary: Update Service
      operationId: update-service
      tags:
      - Google Services
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the account
        schema:
          type: number
        example: '169744180007807'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 2494
                  message: Invalid GBP Service Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                serviceId:
                  type: string
                name:
                  type: string
                currencyCode:
                  type: string
                price:
                  type: number
                description:
                  type: string
                group:
                  type: string
                duration:
                  type: number
              required:
              - serviceId
              - name
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/google-services/service/delete:
    post:
      summary: Delete Services
      operationId: delete-services
      tags:
      - Google Services
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the account
        schema:
          type: number
        example: '169744180007807'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 2495
                  message: Invalid GBP Service Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                serviceIds:
                  type: array
              required:
              - serviceIds
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/google-services/service/location-mapping:
    get:
      summary: Get Location Mapping
      operationId: get-location-mapping
      tags:
      - Google Services
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the business
        schema:
          type: number
        example: '169744180007807'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 2486
                  message: Business Id missing or invalid
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/google-services/services/location-mapping:
    post:
      summary: Update Location Mapping
      operationId: update-location-mapping
      tags:
      - Google Services
      parameters:
      - name: businessId
        in: query
        required: true
        description: Id of the business
        schema:
          type: number
        example: '169744180007807'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 2494
                  message: Invalid GBP Service Id
      description: 'Note


        Any change will impact the service mapped to all the locations.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                category_name:
                  type: string
                service_id:
                  type: array
              required:
              - category_name
              - service_id
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
components:
  schemas:
    2494Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2494
        message: Invalid GBP Service Id
    2489Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2489
        message: Invalid GBP Service description
    1167Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1167
        message: API key is missing
    1161Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1161
        message: Invalid API key
    2493Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2493
        message: Duplicate Google Service is not allowed
    2495Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2495
        message: Invalid GBP Service Id
    2496Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2496
        message: Missing GBP category for given location
    2491Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2491
        message: Invalid GBP Service price
    1011Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1011
        message: Business id is invalid
    2490Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2490
        message: Invalid GBP Service price type
    2492Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2492
        message: Invalid GBP Service currency code
    Apiary_getAllServices_Response200:
      type: object
      properties:
        services:
          type: array
          description: Google services details
          items:
            type: object
            properties:
              serviceId:
                type: string
                description: Unique service identifier
              name:
                type: string
                description: name of the service
              currencyCode:
                type: string
                description: currency code of the paid service
              price:
                type: number
                description: price of the paid service
              description:
                type: string
                description: description of the service
              group:
                type: string
                description: service group
              duration:
                type: number
                description: service duration in minutes
    2488Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2488
        message: Invalid GBP Service name
    2486Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2486
        message: Business Id missing or invalid
    Apiary_getLocationMapping_Response200:
      type: object
      properties:
        category_name:
          type: string
          description: name of the GMB category
        services:
          type: array
          description: Google services details
          items:
            type: object
            properties:
              serviceId:
                type: string
                description: Unique service identifier
              name:
                type: string
                description: name of the service
              currencyCode:
                type: string
                description: currency code of the paid service
              price:
                type: number
                description: price of the paid service
              description:
                type: string
                description: description of the service
              group:
                type: string
                description: service group
              duration:
                type: number
                description: service duration in minutes
    2487Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 2487
        message: Invalid input request data
    89Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 89
        message: Rate limit exceeded
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
x-refined-from:
- birdeye-birdeye-api-openapi.yml
- birdeye-openapi-original.yml
