openapi: 3.1.0
info:
  title: Birdeye Aggregation Subscription API
  description: RESTful API for managing online reviews, sending survey requests, responding to customer messages, automating review collection workflows, and tracking reputation metrics across multiple business locations.
  version: 1.0.0
  termsOfService: https://birdeye.com/terms-of-service/
  contact:
    url: https://developers.birdeye.com/
servers:
- url: https://api.birdeye.com
  description: Production
security:
- apiKey: []
tags:
- name: Subscription
  description: Subscribe or Unsubscribe multiple webhooks with different URLs or Events for a subscription and deliver real-time notifications.
paths:
  /v1/subscriptions/subscribe:
    post:
      summary: Create subscription
      operationId: create-subscription
      tags:
      - Subscription
      parameters:
      - name: businessId
        in: query
        required: true
        description: Account business number.
        schema:
          type: number
        example: '1234567890'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                webhookUrl:
                  type: string
                emails:
                  type: array
                eventName:
                  type: string
                auth:
                  type: object
  /v1/subscriptions/unsubscribe/{subscriptionId}:
    get:
      summary: Unsubscribe subscription
      operationId: unsubscribe-subscription
      tags:
      - Subscription
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: ''
        schema:
          type: string
        example: tyhjwvbtys56782hbjsAGH
      - name: businessId
        in: query
        required: true
        description: Account business number.
        schema:
          type: number
        example: '1234567890'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1005
                  message: Subscription Not found for Particular Id
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
