openapi: 3.2.0
info:
  title: Birdeye Employee API
  version: '1.0'
  description: 'Operations tagged Employee across 2 of this provider''s published API definitions: birdeye-birdeye-api-openapi.yml, birdeye-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.birdeye.com
  description: Production
- url: https://api.birdeye.com/resources
tags:
- name: Employee
  description: ''
paths:
  /v1/employee/{businessId}:
    get:
      summary: Get details of Employees
      operationId: get-details-of-employees
      tags:
      - Employee
      parameters:
      - name: businessId
        in: path
        required: true
        description: Id of the Business.
        schema:
          type: string
        example: '12345678'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1011
                  message: Business id is invalid
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
components:
  schemas:
    1167Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1167
        message: API key is missing
    1011Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1011
        message: Business id is invalid
    Apiary_getDetailsOfEmployees_Response200:
      type: array
      items:
        type: object
        properties:
          firstName:
            type: string
            description: First name of the employee.
          lastName:
            type: string
            description: Last name of the employee.
          emailId:
            type: string
            description: Email Id of the employee.
          phone:
            type: string
            description: Phone number of the employee.
          imageUrl:
            type: string
            description: Image URL of the employee.
    1161Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1161
        message: Invalid API key
    89Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 89
        message: Rate limit exceeded
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
x-refined-from:
- birdeye-birdeye-api-openapi.yml
- birdeye-openapi-original.yml
