openapi: 3.2.0
info:
  title: Birdeye Campaign API
  version: '1.0'
  description: 'Operations tagged Campaign across 2 of this provider''s published API definitions: birdeye-birdeye-api-openapi.yml, birdeye-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.birdeye.com
  description: Production
- url: https://api.birdeye.com/resources
tags:
- name: Campaign
  description: Create a short link for review requests and set review sources in the template.
paths:
  /v1/campaign/external/campaign-request-url:
    post:
      summary: Fetch Request URL
      operationId: fetch-request-url
      tags:
      - Campaign
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 89
                  message: Rate limit exceeded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                businessId:
                  type: number
                customerId:
                  type: number
                surveyId:
                  type: number
                templateId:
                  type: number
                checkinId:
                  type: number
              required:
              - businessId
              - customerId
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/campaign/external/default-review-sources:
    post:
      summary: Set Defaullt Review Sources
      operationId: set-defaullt-review-sources
      tags:
      - Campaign
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 89
                  message: Rate limit exceeded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                businessId:
                  type: number
                customerId:
                  type: array
              required:
              - businessId
              - customerId
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
components:
  schemas:
    1011Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1011
        message: Business id is invalid
    1315Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1315
        message: Invalid survey.
    1040Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1040
        message: Invalid temmplate id.
    1089Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1089
        message: Customer id is invalid.
    1161Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1161
        message: Invalid API key
    89Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 89
        message: Rate limit exceeded
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
x-refined-from:
- birdeye-birdeye-api-openapi.yml
- birdeye-openapi-original.yml
