openapi: 3.2.0
info:
  title: Birdeye GMB Products API
  version: '1.0'
  description: 'Operations tagged GMB Products across 2 of this provider''s published API definitions: birdeye-birdeye-api-openapi.yml, birdeye-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.birdeye.com
  description: Production
- url: https://api.birdeye.com/resources
tags:
- name: GMB Products
  description: To manage products, locations, and business details through Listing GMB platform
paths:
  /v1/listing/public/product/setup/googleMerchant:
    post:
      summary: Onboard Google Merchant Account
      operationId: onboard-google-merchant-account
      tags:
      - GMB Products
      parameters:
      - name: merchantId
        in: query
        required: true
        description: Google Merchant Center account ID.
        schema:
          type: string
        example: '1234567'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example: {}
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/listing/public/product:
    post:
      summary: Create Product Listing
      operationId: create-product-listing
      tags:
      - GMB Products
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                businessNumbers:
                  type: array
                title:
                  type: string
                description:
                  type: string
                imageLink:
                  type: string
                additionalImageLinks:
                  type: array
                brandName:
                  type: string
                googleProductCategoryId:
                  type: string
                price:
                  type: object
                  properties:
                    amount:
                      type: string
                    currencyCode:
                      type: string
                  required:
                  - amount
                  - currencyCode
                salePrice:
                  type: object
                  properties:
                    amount:
                      type: string
                    currencyCode:
                      type: string
                  required:
                  - amount
                  - currencyCode
                productSku:
                  type: string
                productTypes:
                  type: array
                productUrl:
                  type: string
                status:
                  type: string
              required:
              - title
              - imageLink
              - googleProductCategoryId
              - price
              - status
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/listing/public/product/{productId}:
    put:
      summary: Update Product Listing
      operationId: update-product-listing
      tags:
      - GMB Products
      parameters:
      - name: productId
        in: path
        required: true
        description: Unique identifier of the product to update.
        schema:
          type: string
        example: 68767cb39ebf51000815ab39
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                businessNumbers:
                  type: array
                title:
                  type: string
                description:
                  type: string
                imageLink:
                  type: string
                additionalImageLinks:
                  type: array
                brandName:
                  type: string
                googleProductCategoryId:
                  type: string
                price:
                  type: object
                  properties:
                    amount:
                      type: string
                    currencyCode:
                      type: string
                  required:
                  - amount
                  - currencyCode
                salePrice:
                  type: object
                  properties:
                    amount:
                      type: string
                    currencyCode:
                      type: string
                  required:
                  - amount
                  - currencyCode
                productTypes:
                  type: array
                productUrl:
                  type: string
                status:
                  type: string
              required:
              - title
              - imageLink
              - googleProductCategoryId
              - price
              - status
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/listing/public/product/{productIdentifier}:
    get:
      summary: Get Product Listing
      operationId: get-product-listing
      tags:
      - GMB Products
      parameters:
      - name: productIdentifier
        in: path
        required: true
        description: Product identifier.
        schema:
          type: string
        example: 68767cb39ebf51000815ab39
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/listing/public/product/deleteProduct:
    post:
      summary: Delete Product Listings
      operationId: delete-product-listings
      tags:
      - GMB Products
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                productIds:
                  type: array
              required:
              - productIds
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/listing/public/product/getList:
    post:
      summary: Get List Product Listing
      operationId: get-list-product-listing
      tags:
      - GMB Products
      parameters:
      - name: pageSize
        in: query
        required: false
        description: Number of records per page. Default 50.
        schema:
          type: number
        example: '50'
      - name: pageNumber
        in: query
        required: false
        description: 0-based page index. Default 0.
        schema:
          type: number
        example: '0'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                search:
                  type: string
                status:
                  type: array
                businessNumbers:
                  type: array
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/listing/public/product/addProduct:
    post:
      summary: Add Products On a Location
      operationId: add-products-on-a-location
      tags:
      - GMB Products
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                productIds:
                  type: array
              required:
              - productIds
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/listing/public/product/removeProduct:
    post:
      summary: Remove Products On a Location
      operationId: remove-products-on-a-location
      tags:
      - GMB Products
      parameters: []
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                productIds:
                  type: array
              required:
              - productIds
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
components:
  requestBodies:
    Fix_ListingBody:
      content:
        application/json:
          schema:
            type: object
            properties: {}
            example: {}
    Add_Products_On_a_LocationBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              productIds:
                type: array
                items: {}
            required:
            - productIds
            example:
              productIds:
              - 68767cb39ebf51000815ab39
              - 68767cb39ebf51000815ab39
  schemas:
    Apiary_updateProductListing_Response200:
      type: object
      properties:
        productId:
          type: string
          description: Unique identifier for the product.
        code:
          type: number
          description: Error code. Present on validation failure.
        message:
          type: string
          description: Error message. Present on validation failure.
        data:
          type: object
          properties:
            errorAttributes:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: Type of validation error.
                  message:
                    type: string
                    description: Validation error message.
    1167Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1167
        message: API key is missing
    Apiary_createProductListing_Request:
      type: object
      properties:
        businessNumbers:
          type: array
          description: Location numbers of enterprise locations. If empty all valid enterprise locations will be selected.
          items: {}
        title:
          type: string
          description: Product title.
        description:
          type: string
        imageLink:
          type: string
          description: Publicly accessible image URL.
        additionalImageLinks:
          type: array
          description: Additional public image URLs.
          items: {}
        brandName:
          type: string
        googleProductCategoryId:
          type: string
          description: Google product taxonomy ID.
        price:
          type: object
          properties:
            amount:
              type: string
              description: Decimal string.
            currencyCode:
              type: string
              description: ISO 4217 code.
          required:
          - amount
          - currencyCode
        salePrice:
          type: object
          properties:
            amount:
              type: string
            currencyCode:
              type: string
          required:
          - amount
          - currencyCode
        productSku:
          type: string
          description: Merchant SKU; if omitted, system may assign.
        productTypes:
          type: array
          description: Product categorization keywords.
          items: {}
        productUrl:
          type: string
          description: implant (string, optional)
        status:
          type: string
          description: 'Accepted values: `PUBLISH`, `DRAFT`.'
      required:
      - title
      - imageLink
      - googleProductCategoryId
      - price
      - status
      example:
        businessNumbers:
        - 145308764185002
        - 145308769721320
        title: Dental Implant
        description: The dental procedure for replacing missing teeth using implants.
        imageLink: https://example.com/images/dental-implant-main.jpg
        additionalImageLinks:
        - https://example.com/images/dental-implant-side.jpg
        - https://example.com/images/dental-implant-closeup.jpg
        brandName: SmileCare
        googleProductCategoryId: '123'
        price:
          amount: '1500.00'
          currencyCode: USD
        salePrice:
          amount: '1200.00'
          currencyCode: USD
        productSku: DENTAL-IMPLANT-001
        productTypes:
        - Dental Services
        - Implants
        - Cosmetic Dentistry
        productUrl: https://example.com/products/dental-implant
        status: PUBLISH
    Apiary_createProductListing_Response200:
      type: object
      properties:
        productId:
          type: string
          description: Unique identifier for the product.
        code:
          type: number
          description: Error code. Present on validation failure.
        message:
          type: string
          description: Error message. Present on validation failure.
        data:
          type: object
          properties:
            errorAttributes:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: Type of validation error.
                  message:
                    type: string
                    description: Validation error message.
    1011Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1011
        message: Business id is invalid
    Apiary_getListProductListing_Response200:
      type: object
      properties:
        response:
          type: array
          description: Product list
          items:
            type: object
            properties:
              productId:
                type: string
              productSku:
                type: string
              locationCount:
                type: number
              title:
                type: string
              description:
                type: string
              productUrl:
                type: string
                description: bragadiru.ro/preturi/ (string)
              imageLink:
                type: string
              additionalImageLinks:
                type: array
                items: {}
              videoUrl:
                type: string
              brandName:
                type: string
              googleProductCategoryId:
                type: string
              price:
                type: object
                properties:
                  amount:
                    type: string
                  currencyCode:
                    type: string
              productTypes:
                type: array
                items: {}
              salePrice:
                type: object
                properties:
                  amount:
                    type: string
                  currencyCode:
                    type: string
              status:
                type: string
              updatedOn:
                type: number
                description: Epoch time.
              updatedBy:
                type: string
        totalCount:
          type: number
    1161Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1161
        message: Invalid API key
    89Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 89
        message: Rate limit exceeded
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
x-refined-from:
- birdeye-birdeye-api-openapi.yml
- birdeye-openapi-original.yml
