openapi: 3.2.0
info:
  title: Birdeye Competitor AI API
  version: '1.0'
  description: 'Operations tagged Competitor AI across 2 of this provider''s published API definitions: birdeye-birdeye-api-openapi.yml, birdeye-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.birdeye.com
  description: Production
- url: https://api.birdeye.com/resources
tags:
- name: Competitor AI
  description: Competitive intelligence, simplified by AI.
paths:
  /v1/competitors/review:
    post:
      summary: Retrieve Competitor Reviews
      operationId: retrieve-competitor-reviews
      tags:
      - Competitor AI
      parameters:
      - name: startIndex
        in: query
        required: false
        description: The starting index for pagination (0-based). Default is 0.
        schema:
          type: number
        example: '0'
      - name: pageSize
        in: query
        required: false
        description: 'Number of records to return per page (max recommended: 100). Default is 25.'
        schema:
          type: number
        example: '25'
      - name: sortOrder
        in: query
        required: false
        description: 'Sort order: 0 = Ascending, 1 = Descending order of review date. Default is 1.'
        schema:
          type: number
        example: '1'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                businessNumbers:
                  type: array
                fromDate:
                  type: string
                toDate:
                  type: string
                sources:
                  type: array
                brandIds:
                  type: array
                competitorLocationIds:
                  type: array
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
  /v1/competitors/review/metrics:
    post:
      summary: Retrieve Competitor Review metrics
      operationId: retrieve-competitor-review-metrics
      tags:
      - Competitor AI
      parameters:
      - name: startIndex
        in: query
        required: false
        description: The starting index for pagination (0-based). Default is 0.
        schema:
          type: number
        example: '0'
      - name: pageSize
        in: query
        required: false
        description: 'Number of records to return per page (max recommended: 100). Default is 25.'
        schema:
          type: number
        example: '25'
      - name: sortOrder
        in: query
        required: false
        description: 'Sort order: 0 = Ascending, 1 = Descending order of review date. Default is 0.'
        schema:
          type: number
        example: '0'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 1167
                  message: API key is missing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                businessNumbers:
                  type: array
                fromDate:
                  type: string
                toDate:
                  type: string
                sources:
                  type: array
                brandIds:
                  type: array
                competitorLocationIds:
                  type: array
      security:
      - apiKey: []
    servers:
    - url: https://api.birdeye.com
      description: Production
components:
  schemas:
    Apiary_retrieveCompetitorReviewMetrics_Response200:
      type: object
      properties:
        businessLocations:
          type: object
          description: The list of business locations being analyzed
          properties:
            businessId:
              type: number
              description: The unique identifier for the business
            name:
              type: string
              description: The name of your business location being analyzed
            alias:
              type: string
              description: The alias for the business location
            businessNumber:
              type: number
              description: Business number for the location
            phone:
              type: string
              description: Phone number of the location
            address:
              type: string
              description: Address of the business location
        competitorLocation:
          type: string
          description: The name of the competitor location where the review was left
        competitorBrand:
          type: string
          description: The brand name or identifier of the competitor
        source:
          type: string
          description: The review platform/source where the review was published
        overallRating:
          type: number
          description: The average rating for this competitor location on this specific source
        reviewCount:
          type: number
          description: The total number of reviews for this competitor location on this specific source
    1167Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1167
        message: API key is missing
    1011Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1011
        message: Business id is invalid
    Apiary_retrieveCompetitorReviews_Response200:
      type: object
      properties:
        businessLocations:
          type: array
          items:
            type: object
            properties:
              businessId:
                type: number
                description: The unique identifier for the business
              name:
                type: string
                description: The name of your business location being analyzed
              alias:
                type: string
                description: The alias for the business location
              businessNumber:
                type: number
                description: Business number for the location
              phone:
                type: string
                description: Phone number of the location
              address:
                type: string
                description: Address of the business location
          description: The list of business locations being analyzed
        competitorLocation:
          type: string
          description: The name of the competitor location where the review was left
        competitorBrand:
          type: string
          description: The brand name or identifier of the competitor
        source:
          type: string
          description: The review platform/source where the review was published
        rating:
          type: number
          description: The star rating given by the reviewer (1-5 scale)
        reviewComment:
          type: string
          description: The actual text content of the review written by the customer
        reviewerName:
          type: string
          description: The name of the person who wrote the review
        reviewDate:
          type: string
          description: The date when the review was published (YYYY-MM-DD format)
        reply:
          type: string
          description: The business owner's response to the review (if any)
    1161Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 1161
        message: Invalid API key
    89Model:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      example:
        code: 89
        message: Rate limit exceeded
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Partner specific API key provided by Birdeye for data exchange.
x-refined-from:
- birdeye-birdeye-api-openapi.yml
- birdeye-openapi-original.yml
